header nav a{
    color: grey !important;
}

header nav a:nth-child(2){
    color: black !important;
}

.paragraph1, .paragraph2, .paragraph3{
    margin: 5% 5%;
}

img {
    width: 20%;
    height: 20%;
}

section{
    display: flex;
    margin: 0% 5%;
    padding: 0px;
    transition: all .5s;
}

.content {
    text-align: center;
    margin: 0% 0%;
}