* {
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
}

.container {
    padding: 10px 0px;
}
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-link, .fas, .fab {
    color: grey;
    font-size: 150%;
}

.nav-link:hover, .fab:hover, .fas:hover {
    color: black !important;
    transition: .75s;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.base {
    display: flex;
    margin: 0% 5%;
}
.footer {
    margin: 0% 50%;
    text-align: center;
}
.footer p {
    color: grey;
}

