section {
    display: flex;
    flex-direction: column;
    margin: 0% 5%;
    padding: 0px;
    text-decoration: none;
    background-color: #f3f3f3;
    transition: all .5s;
    box-shadow: 10px 10px 8px #888888;
}

header nav a{
    color: grey !important;
}

header nav a:nth-child(1){
    color: black !important;
}

.content {
    text-align: center;
    margin: 0% 0%;
}

img {
    margin: 10%;
    padding-right: 0px;
}

section:hover {
    background-color: #000000;
    opacity: 80%;
}

section:hover p {
    color: white;
}

section:hover h2 {
    color: white;
}

@media only screen and (min-width: 721px) {
    section {
        flex-direction: row;
    }
    .content {
        text-align: center;
        margin: 10% 30% 0% 30%;
    }
    img {
        margin: 0%;
        width: 350;
        height: 350;
    }
  }

  h2, p {
      color: black;
  }

