/* universal margin and padding*/
* {
	margin:0 ;
	padding:0;
    box-sizing: border-box;
}
body {
	font-family: 'DM Sans', sans-serif;
}
/*set font family to element*/
.white {
	color: #fff;
}
/*set white color*/
.navbar {
	background-color: white;
    width: 100%;
	padding: 10px 0px;
}

/*navigation style*/

/*header style*/
.navbar-nav li .nav-link {
	font-size: 20px;
	line-height: 1.4;
	color: grey;
	border-radius: 3px;
	margin: 0 5px;
	padding: 5px 12px;
}
/*navigaion link style*/
.navbar-nav .fab:hover li.active .nav-link,.navbar-nav li.active .nav-link:hover,.navbar-nav li .nav-link:hover,.navbar-nav li .nav-link:focus {
	color: black;
    transition: .5s;
}
.navbar-brand {
    display: block;
    text-align: center;

}
.fab, .fas{
    color: grey;
    border-radius: 3px;
	margin: 0 40px;
	padding: 5px 12px;
}

.fab:hover, .fas:hover {
    color: black;
    transition: .5s;
}

.collapse {
    padding: 0px;
}

#work-section-one {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 100px;
    margin-left: auto;
    margin-right: auto; */
    border: 3px solid black;
    
}

#work-section-one img {
    font-family: "object-fit: cover;";
    height: calc(100% + 2px);
    left: 50%;
    object-fit: cover;
    top: 50%;
    width: calc(100% + 2px);    
    vertical-align: top;

}